

.preloader {
    background: url(./images/sky.jpeg);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 9999;
  }

.done{
    opacity: 0;
    visibility: hidden;
}

.load{
    display: flex;
    margin-top: 70px;
    margin-left: 250px;
    animation: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@media(max-width: 800px){
  .load{
    padding-top: 15%;
    width: 50%;
    height: auto;

  }

}



@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
