
.preloader {
    background: url(./images/sky.jpeg);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 9999;
    transition: 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.done{
    opacity: 0;
    display: none;
}

.loader{
    margin-top: 5%;
    animation: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@media(max-width: 800px){
  .loader{
    margin-left: -30px;
    width: 50%;
    height: auto;

  }

}


@keyframes rotate{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
