body{
    background: url(./images/night-sky.gif);
    min-width: 1200px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 10px;
}


.quoete-widndow{
    display: flex;
    flex-direction: column;
    margin-bottom: -15px;
    align-items: center;
    text-align: center;
    color: rgb(216, 210, 183);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3vw;
    width: 100%;
}

.paper {
    position: relative;
    margin-bottom: 20%;
    margin-right: 15%;
    max-width: 100%;
    
}

.quote{
    position: relative;
    align-items: center;
    align-self: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #e8d4ac;
    text-shadow: 2px 1px 3px rgb(155, 131, 80);
    font-style: normal;
    font-size: 2.5vw;
}

.quote-container {
    position:absolute;
    display: flex;
    margin-top: -590px;
    margin-left: 40px;
    width: 600px;
    height: 350px;
}


.btn-margin{
    margin-top: -130px;
}

.btn {
    position: relative;
    background-color: rgb(199, 194, 174);;
    border-width: 10px;
    border-color: rgb(151, 119, 43);
    height: 100px;
    width: 270px;
    font-size: 2vw;
    border-radius: 10px;
}

.bear1{
    position: absolute;
    margin-top: -440px;
   margin-left: -560px;
}



.bear2{
    position: absolute;
    margin-top: -440px;
    margin-left: 350px;
}

.ornament {
    max-width:100%;
}

